body {
    background-color: lightyellow;
}

h2, form {
    text-align: center;
}

label {
    display: inline-block;
    width: 150px; 
    text-align: left;
    margin-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 250px; 
    padding: 10px;
    box-sizing: border-box;

}

input[type="submit"] {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}
